.nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.nav > div {
    display: flex;
    align-items: center;
    column-gap: 16px;

}

.button {
    background: linear-gradient(to bottom, #272B46, #101332); /* Linear gradient background */
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    align-items: center;
    display: inline-flex;
    height: 35px;
    padding: 10px 12px;
    font-size: 1.4rem;
}


.searchbar {
    min-width: 250px;
    color: var(--foreground-muted);
}
.searchbar svg {
    margin-right: 8px;
}
.input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    width: 100%;

}


.balance svg {
    margin-right: 8px;
}


.notifications {
    position: relative;
}

.notifications svg  {
    font-size: 1.6rem;
    color: var(--secondary);
   
}

.notification {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 7px;
    width: 7px;
    background-color: red;
    border: 1px solid black;
    border-radius: 50px;
    top: 7px;
    left: 53%;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;

}
.profileImage {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;

}

.profileImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(1.2) brightness(0.8) saturate(1.2);

    
}

.profileDetails {
    font-size: 1.1rem;
    letter-spacing: 1px;

}

.profileDetails span {
    color: var(--foreground-muted);
    font-size: 1rem;
}

.name {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.name svg {
    margin-left: 10px;
    font-size: 1.6rem;
}