* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --background: #0A0D20;
    --foreground: #fff;
    --foreground-muted: #ababab80;
    --foreground-muted-2: #ababab2b;
    --card: #101332;
    --secondary: #6bdaff;
    --border: #181d3e;
    --border-radius: 5px;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    color: white;
    font-size: 1.6rem;
}

.main {
    display: flex;
    height: 100vh;
    padding: 20px;

}

.left-sidebar {
    width: 250px;
    background-color: var(--card);
    height: 100%;
    border-radius: var(--border-radius);
    padding: 20px;
}

.right-sidebar {
    width: 300px;
    height: 100%;
    background-color: var(--card);
    border-radius: var(--border-radius);
    padding: 20px;

}

.content {
    padding: 0 20px;
    flex: 1;
}